nav{
    display: flex;
    margin-right: 50px;
   align-items: center;
   justify-content: space-between;
.ffss{
    color: blue;
}
.btn-primarry{
    color: rgb(247, 247, 248);
    font-size: 20px;
    background-color: blue;
    padding: 18px,20px;
    border-radius: 20%;
    font-weight: 20px;
    border-color: white;
}
.gghh{
    color: brown;

}
.header{
    background-image: url(Hero-bg.png);
}